<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>855761073194-vcrj8f3a78o9h1k4lk620k2225r1s6kk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.855761073194-vcrj8f3a78o9h1k4lk620k2225r1s6kk</string>
	<key>API_KEY</key>
	<string>AIzaSyA1xXPlgm7BKO6Uvsg5R1nYnXka4Lqj3DM</string>
	<key>GCM_SENDER_ID</key>
	<string>855761073194</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.laza</string>
	<key>PROJECT_ID</key>
	<string>laza-4e578</string>
	<key>STORAGE_BUCKET</key>
	<string>laza-4e578.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:855761073194:ios:c0aad47fac9b353a4cbf53</string>
</dict>
</plist>